<h1>Esta es la página de Inicio</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate mollitia non dolorum blanditiis nostrum maxime odit rem autem doloremque, sint iure placeat. Dicta quia molestiae vitae adipisci quod voluptatum commodi.</p>